<ion-view view-title="Currency">
  <ion-content class="padding">
    <div class="row">
      <div class="col wrapper">
        <img src="../img/coins.png" id="coins"/>
        <div class="cur-info">Today exchange rate:</div>
        <div class="cur-rate">{{currency.id}}: {{liveRateByNBRB}}</div>
      </div>
    </div>

    <div class="row">
      <div class="col wrapper">
        <canvas id="myChart" width="100%" height="100%"></canvas>
        {{buildChart(rateArray)}}
      </div>
    </div>

    <div class="button-bar row">
      <a class="button button-outline button-energized"
          ng-click="changeTimeOffset('week')">Week</a>
      <a class="button button-outline button-energized"
          ng-click="changeTimeOffset('month')">Month</a>
      <a class="button button-outline button-energized"
          ng-click="changeTimeOffset('year')">Year</a>
    </div>

    <div class="row">
      <div class="col wrapper">
        <ion-scroll class="table-container">
          <table>
            <tr>
              <td class="table-cell">
                Date
              </td>
              <td class="table-cell">
                Rate
              </td>
            </tr>
            <tr ng-repeat="rateObj in rateArray">
              <td class="table-cell">
                {{convertDateNBRB(rateObj._Date)}}
              </td>
              <td class="table-cell">
                {{rateObj.Rate}}
              </td>
            </tr>
          </table>
        </ion-scroll>
      </div>
    </div>

  </ion-content>
</ion-view>
