<ion-view view-title="Currency">
  <ion-content class="padding">
    <div class="row">
      <div class="col wrapper">
        <img src="../img/coins.png" id="coins"/>
        <div class="cur-info">Today exchange rate:</div>
        <div class="cur-rate">{{currency.id}}: {{liveRate}}</div>
        <div class="cur-rate">{{currency.id}}: {{liveRateByNBRB}}</div>
      </div>
    </div>

    <div class="row">
      <div class="col wrapper">
        <img src="../img/coins.png" id="coins"/>
      </div>
    </div>
    <div class="button-bar row">
      <a class="button button-outline button-energized">Week</a>
      <a class="button button-outline button-energized">Month</a>
      <a class="button button-outline button-energized">Year</a>
    </div>
    <div class="row">
      <div class="col wrapper">
        <table class="cur-history">
          <tr>
            <td>Date</td>
            <td>Value</td>
          </tr>
        </table>
      </div>
    </div>
  </ion-content>
</ion-view>
